.home__image{
    width: 100%;
    margin-bottom: -650px;
}
.home{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}
.home__row{

    display: flex;
    margin-left: 5px;
    margin-right: 5px;

}